name: Build
on: [push]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
    package:
        runs-on: ubuntu-latest
        container:
            image: wonderlandengine/editor:edge
        steps:
            - uses: actions/checkout@v2
            - name: Package
              run: |
                  apt install -y zip

                  # Build all node libraries
                  npm i
                  npm run build --workspaces

                  # Build all examples
                  mkdir public
                  cd examples
                  for project in * ; do
                    if [ ! -d "$project" ]; then continue; fi
                    if [ "$project" = ".github" ]; then continue; fi
                    if [ "$project" = "public" ]; then continue; fi
                    if [ "$project" = "common-components" ]; then continue; fi
                    if [ "$project" = "node_modules" ]; then continue; fi

                    echo "Zipping $project"
                    zip -r ../public/$project.zip $project

                    echo "Building $project"
                    for projectFile in $project/*.wlp ; do
                      /usr/local/bin/entrypoint.sh WonderlandEditor --credentials "$WLE_CREDENTIALS" --windowless --package --project ./$projectFile --output ../public/
                    done
                    mv ../public/index.html ../public/$project.html
                  done
                  cd ..
              env:
                  WLE_CREDENTIALS: ${{ secrets.WLE_CREDENTIALS }}
            - name: Gzip
              run: find ./public/ -type f ! -name '*.gz' -exec gzip -k "{}" \;
            - name: Upload artifact
                uses: actions/upload-pages-artifact@v3
                with:
                  path: ./public
    deploy-pages:
        needs: package
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
